body {
    padding: 0;
    margin: 0;
    background-color: rgb(196, 229, 252);
}

.heading {
    text-align: center;
    margin-top: -0.115px;
    font-size: 90px;
    color: rgb(8, 8, 8);
    text-shadow: 4px 4px 3px #06089c;
}

.countrychange {
    color: white !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width:770px) {
    .heading {
        font-size: 60px;
        text-shadow: 2.7px 2px 1.5px #06089c;
    }
    .container {
        margin: 0 10%;
    }
    .image {
        width: 100%;
    }
}