.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
    margin-bottom: 5px;
    /* box-shadow: 0px 0px 2px 2px rgb(7, 7, 7); */
}

.infected {
    border-bottom: 10px solid rgb(0, 0, 0);
}

.recovered {
    border-bottom: 10px solid rgb(0, 0, 0);
}

.deaths {
    border-bottom: 10px solid rgb(0, 0, 0);
}

.card_dec {
    box-shadow: 0px 0px 2px 2px rgb(87, 85, 85);
}