.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
    margin-bottom: 5px;
}

.infected {
    border-bottom: 10px solid rgba(0, 0, 255);
}

.recovered {
    border-bottom: 10px solid rgba(0, 255, 0);
}

.deaths {
    border-bottom: 10px solid rgba(255, 0, 0);
}

.card_dec {
    box-shadow: 0px 0px 2px 2px rgb(87, 85, 85);
}