body {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.heading {
    text-align: center;
    margin-top: -0.115px;
    font-size: 90px;
    color: rgb(0, 110, 255);
    text-shadow: 4px 4px 3px #c0bfbf;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width:770px) {
    .heading {
        font-size: 40px;
        text-shadow: 2px 2px 3px #c0bfbf;
    }
    .container {
        margin: 0 10%;
    }
    .image {
        width: 100%;
    }
}